<ion-content class="signup-content">
  <div class="signup-container">
    <div class="logo-section">
      <div class="logo-circle">
        <ion-icon name="flower-outline"></ion-icon>
      </div>
      <h1>Create Account</h1>
      <p>Join Meadowcraft</p>
    </div>

    <div class="form-section">
      <div class="input-group">
        <ion-input
          label="Full Name"
          labelPlacement="floating"
          fill="outline"
          [(ngModel)]="name"
          placeholder="Your name"
          class="custom-input"
        >
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <div class="input-group">
        <ion-input
          label="Email"
          labelPlacement="floating"
          fill="outline"
          type="email"
          [(ngModel)]="email"
          placeholder="your@email.com"
          class="custom-input"
        >
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <div class="input-group">
        <ion-input
          label="Password"
          labelPlacement="floating"
          fill="outline"
          type="password"
          [(ngModel)]="password"
          placeholder="Create password"
          class="custom-input"
        >
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <ion-button expand="block" class="signup-btn" (click)="onSignup()">
        Create Account
      </ion-button>

      <div class="login-link">
        <span>Already have an account? </span>
        <a (click)="goToLogin()">Sign In</a>
      </div>
    </div>
  </div>
</ion-content>
